<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <img src="img/me.jpg" class="img-circle" alt="Me" width="200" height="200">
                <p class="text-faded">My name is Nancy McCoy. I have a Bachelor's degree in science (Data Analytics - St. Petersburg College) and an Associate's degree of science (Web Development - St. Petersburg College.
                I am a resolute and motivated analyst with 3+ years of experience. I have proficiency in learning new concepts quickly and efficiently. Skilled in multiple areas including data analytics and programming. Excellent collaborator with strong presentation and organizational skills. Career-oriented, hardworking and the ability to manage multiple tasks at once.</p>
            </div>
        </div>
    </div>
</section>
